td {
  background-color: gray;
  border-radius: 7px;
  text-align: center;
  font: bold 30px Georgia, serif;
  width: 60px;
  height: 60px;
}

table {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.hud {
  display: flex;
  justify-content: center;
}

.score {
  text-align: center;
  font: 30px Georgia, serif;
}

.in-2 {
  background-color: yellow;
}

.in-4 {
  background-color: goldenrod;
}

.in-8 {
  background-color: orangered;
}

.in-16 {
  background-color: orangered;
}

.in-32 {
  background-color: indianred;
}

.in-64 {
  background-color: palevioletred;
}

.in-128 {
  background-color: violet;
}

.StartButton {
  margin-left: 1rem;
  margin-right: 1rem;
}
